body{
  padding: 0;
  margin: 0;
}

.container {
  min-width: 850px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}


.image {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  flex-grow: 0;
}

p {
  padding: 4px 12px;
  margin: 0;
}
.search-form {
  position: relative;
  background-color: cornflowerblue;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.search-form input {
 padding-top: 5px;
 padding-bottom: 5px;
 border-radius: 5px;
 padding-left: 7px;
}

.btn {
  background-color: rgb(65, 121, 225);
  color: bisque;
  border-radius: 12px;
}

.btn-search {
  width: 90px;
  height: 30px;
}

.btn-load-more {
  display: block;
  margin: 0 auto;

  width: 180px;
  height: 60px;
}

.btn:disabled{
  background-color: grey;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

.gallery{
  min-width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;

  margin-top: 12px;
  margin-bottom: 12px;
}

.photo-card {
  min-height: 100%;

  width: 400px;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 12px;
}

.info {
  padding-top: 4px;
  padding-bottom: 8px;
}

.hidden {
  display: none;
}

.count {
  text-align: center;
  background-color: white;
}

.load-more {
  margin-top: 60px;
  margin-bottom: 60px;
}



.btn:hover {
  background-color: blue;
  color: yellow;
}

.btn:hover:disabled {
  background-color: grey;
  color: bisque;
}

.sticky {
  position: sticky;
  top: 0;
}
.footer {
  height: 24px;
  background-color: cornflowerblue;
}